<div class="container">
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ preguntaActual.texto }}</span>

      <ul class="collection">
        <li
          class="collection-item"
          *ngFor="let opcion of preguntaActual.opciones"
        >
          <label>
            <input
              [type]="preguntaActual.multiple ? 'checkbox' : 'radio'"
              class="filled-in"
              [name]="'preguntaActual'"
              [value]="opcion.key"
              [checked]="isChecked(opcion.key)"
              (change)="seleccionar(opcion.key, $event)"
            />
            <span>{{ opcion.key | uppercase }}. {{ opcion.value }}</span>
          </label>
        </li>
      </ul>

      <div *ngIf="respuestas[indiceActual]" class="card-panel light-blue lighten-5">
        Respuesta actual: <strong>{{ obtenerRespuestaActual() }}</strong>
      </div>

      <div class="right-align" style="margin-top: 10px;">
        <button class="btn waves-effect waves-light" (click)="siguiente()">
          Siguiente
          <i class="material-icons right">arrow_forward</i>
        </button>
      </div>
    </div>
  </div>
</div>
